@require 'flt-text-carousel.styl'
@require 'flt-text-carousel__content.styl'
@require 'flt-text-carousel__item.styl'
@require 'flt-text-carousel__tabs-wrap.styl'
@require 'flt-text-carousel__title.styl'
@require 'flt-text-carousel__line.styl'
@require 'flt-text-carousel__text.styl'
@require 'flt-text-carousel__button.styl'
@require 'flt-text-carousel__button_hover.styl'