.flt-footer__link
  display: inline-block
  margin-top: 10px
  margin-bottom: 50px
  color: $footer-link-color
  text-decoration: none
  text-transform: uppercase
  font-family: 'Open Sans', sans-serif