@require 'flt-wrapper/index.styl'
@require 'flt-header/index.styl'
@require 'flt-logo/index.styl'
@require 'flt-menu/index.styl'
@require 'flt-intro/index.styl'
@require 'flt-content/index.styl'
@require 'flt-text-carousel/index.styl'
@require 'flt-news/index.styl'
@require 'flt-footer/index.styl'