.flt-intro__image
  position: relative
  left: 100px
  top: 0
  z-index: 0
  width: 1050px
  height: 750px
  float: right
  background-color: rgba(99, 170, 255, .2)
  background-image: url('/static/img/kpi_from_sky.jpg')
  background-attachment: fixed
  background-repeat: no-repeat
