// widths

$max-content-width = 1200px
$max-header-width = 1100px


// margins


// colors
$main-header-text-color = #9f9f9f
$header-text-title-color = #020659
$news-line-back-color = #ddd
$footer-back-color = #133463
$footer-link-color = #f4efdc
$footer-title-color = #ba9b65

$news-date-color = rgba(0, 0, 0, .7)
