{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div class="flt-content">
        <div class="flt-intro__holder">
            <img src=""
                 alt="kpi from sky"
                 class="flt-intro__image">
            <div class="flt-text-carousel">
                <div class="flt-text-carousel__content">
                    <div class="flt-text-carousel__item">
                        <div class="flt-text-carousel__tabs-wrap">
                            <div class="flt-text-carousel__title">
                                Кафедра
                            </div>
                            <div class="flt-text-carousel__line">
                            </div>
                        </div>
                        <div class="flt-text-carousel__text">
                            Cтворена у 1960 р., є першою та провідною кафедрою
                            України, яка готує фахівців у галузі програмного
                            та апаратного забезпечення сучасних комп’ютерів,
                            комп’ютерних систем та мереж: керівників проектів,
                            розробників, користувачів, програмістів, системних
                            програмістів, системних адміністраторів.

                            <br>
                            <br>

                            На кафедрі працює перший в Україні
                            навчально-науковий центр, відкритий компанією
                            Hewlett-Packard (HP) та навчально-наукова
                            лабораторія фірми SAMSUNG.
                        </div>
                        <a href="#"
                           class="flt-text-carousel__button
                                  flt-text-carousel__button_hover"
                        >
                            Дізнатися більше ►
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- vim: set ts=2 sw=2 tw=0 et :-->
