.flt-news__header-text
  display: inline-block
  margin-top: 67px
  margin-bottom: 37px
  font-family: Merriweather, serif
  color: $header-text-title-color
  font-size: 36px
  line-height: 40px
  letter-spacing: 0
  text-transform: none