@require 'flt-news.styl'
@require 'flt-news__holder.styl'
@require 'flt-news__hot.styl'
@require 'flt-news__header.styl'
@require 'flt-news__header-text.styl'
@require 'flt-news__image.styl'
@require 'flt-news__item.styl'
@require 'flt-news__line.styl'
@require 'flt-news__link.styl'
@require 'flt-news__secondary.styl'
@require 'flt-news__title.styl'
@require 'flt-news__date.styl'

@require 'flt-news__title_secondary.styl'